* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente-registro: 'Roboto', sans-serif;
}

.Head a.activo {
    background-color: #4a90e2;
    /* o el azul que desees */
    color: white;
    border-radius: 5px;
}



hr {
    background-color: #ccc;
    margin-bottom: 20px;
}

header>img[src="logo.png"] {
    display: flex;
}

.diseno-logo {
    width: 400px;
    height: auto;
    padding: 30px;
    margin: 0 auto;
}

.contenedor-navegacion {
    display: flex;
    background-color: #c6c6c6;
    justify-content: space-between;
    align-items: center;
    margin: 0% 3%;
}

nav.Head {
    height: 40px;
    margin-left: 40px;
}

.Head ul {
    list-style-type: none;
    display: flex;
}

.Head li {
    /* float: left;*/
    margin-right: 15px;
}

.Head a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
}


div.buscador {
    margin-right: 40px;
    display: flex;
}

.diseno-buscador {
    font-size: 20px;
    font-family: var(--fuente-registro);
    border-radius: 5px;
    padding: 5px 20px;
}

h1 {
    margin-top: 40px;
    font-family: var(--fuente-registro);
    font-size: 60px;
    font-weight: lighter;
    color: #616161;
    text-align: center;
}

h1::after {
    /**/
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px;

}

section.section-search {
    display: flex;
    margin: 0 auto;
    width: 94%;
    font-family: var(--fuente-registro);
    font-size: 20px;
    margin-top: 1%;
    flex-direction: column;
    border: 2px solid rgb(197, 197, 197);

}


div.dias {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

div.days {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-left: -4%;
}

.days label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 10px;
}


div.lugares {
    display: flex;
    font-family: var(--fuente-registro);

    align-items: center;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 3%;
}

div.lugares>select {
    font-size: 100%;
    font-family: var(--fuente-registro);
    width: 20%;
    border-radius: 5px;
    padding: 1%;
}

div.lugares>button {
    font-size: 100%;
    font-family: var(--fuente-registro);
    width: 10%;
    border-radius: 5px;
    padding: 1%;
}


.select-from {
    margin-right: 30%;
    margin-left: 2%;
}

.select-to {
    margin-right: 5%;
    margin-left: 2%;
}

div.dias>label {
    margin-right: 3%;
}

input[type="checkbox"] {
    margin-right: 6%;

}


.imagen-navegador {
    width: 40px;
    margin-left: 50px;
}

section.section-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}

table {

    width: 94%;
    border-collapse: collapse;
    border: 1px solid rgb(201, 201, 201);
    margin-bottom: 30%;
}

thead {
    background-color: #c6c6c6;
    font-size: 20px;
    font-family: var(--fuente-registro)
}

tbody {

    font-size: 20px;
    font-family: var(--fuente-registro);
    border: #616161;
}

th,
td {
    border: 1px solid #787777;
    padding: 10px;
    text-align: center;

}

figure {
    display: flex;
    justify-content: center;
    margin-top: -29%;
    margin-bottom: 2%;
}

.imagen-mapa {
    width: 94%;
}

.text {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 3%;
    align-self: flex-start;
    font-family: var(--fuente-registro, Arial);
}

/*footer nav*/
nav,
a.foot {
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-registro);
    font-size: 20px;
    color: #616161;
    margin-bottom: 15px;
}

footer>p {
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-registro);
    font-size: 20px;
    color: #616161;
}

.td-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.td-img>img {
    width: 5%;
    height: auto;
}